<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>

  <body>
    <%- include('partials/navigation')%>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
      <section>
        <h1 class="display-1">About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem doloremque ipsam dolorum laborum ut ratione repellat ipsum similique laboriosam cumque eius, accusantium eum esse voluptatibus animi, tenetur est, recusandae impedit.</p>
      </section>
    </main>
    <%- include('partials/footer')%>
  </body>
</html>
